<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.mapper.CommodityMapper">
	
	 <resultMap type="Commodity" id="CommodityResult">
	  	<result property="gid"    column="gid"    />
        <result property="gname"    column="gname"    />
        <result property="price"    column="price"    />
        <result property="stock"    column="stock"    />
        <result property="mouthlySales"    column="mouthlySales"    />
        <result property="totalSales"    column="totalSales"    />
        <result property="evaluationNum"    column="evaluationNum"    />
    </resultMap>
	
	<select id="selectCommodityById" parameterType="int" resultMap="CommodityResult" >
	  select gid,gname,price,stock,mouthlySales,totalSales,evaluationNum
	   from tb_commodity where gid=#{gid}
	</select>
	
	 <update id="returnCommodityStock" parameterType="Commodity">
        update tb_commodity 
        <trim prefix="SET" suffixOverrides=",">
            <if test="stock != null  and stock != ''  ">stock = #{stock},</if>
        </trim>
        where gid = #{gid}
    </update>
    
	
<!-- 	
	
	
	<delect id="delectCommodity" parameterMap="CommodityResult">
	  delect from tb_commodity where gid=#{gid}
	</delect>
	
    <update id="updateCommodity" parameterMap="CommodityResult">
      update  
      <if test="uid!=null and uid!=''">uid=#{uid}</if>,
      <if test="gid!=null and gid!=''">gid=#{gid}</if>
      where gid=#{gid}
    </update>
    
	<insert id="insertCommodity" parameterMap="CommodityResult">
	  insert into tb_commodity
			<if test="gid != null  ">gid=#{gid}</if>,
			<if test="gname != null  and gname != ''  ">gname=#{gname}</if>,
			<if test="price != null and price !='' ">price=#{price}</if>,
			<if test="stock != null and stock !='' ">stock=#{stock}</if>
		
	</insert> -->
</mapper>