<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.mapper.FootMapper">
	
	
	
	<resultMap type="Foot"   id="FootResult">
	
	   <result property="uid"    column="uid"    />
	   <result property="gid"    column="gid"    />
        <result property="gname"    column="gname"    />
        <result property="price"    column="price"    />
        <result property="image"    column="image"    />
        <result property="gdate"    column="gdate"    />
        <result property="is_default_image"    column="is_default_image"    />

       
    </resultMap>
    
  
    <select id="selectFootByUid"   resultMap="FootResult">
    	select a.uid,a.gdate,d.gid,d.price,d.gname,d.image from tb_foot a,
       (select b.gid,b.price,b.gname,c.image
       from tb_commodity b LEFT JOIN (select gid,image from tb_image where is_default_image=1 ) c on b.gid=c.gid) d 
       where a.gid = d.gid and a.uid = #{uid}
    </select>
    
     <select id="selectFootByGdate"  parameterType="Foot"  resultType="map">
    	select a.uid,a.gdate,d.gid,d.price,d.gname,d.image from tb_foot a,
       (select b.gid,b.price,b.gname,c.image
       from tb_commodity b LEFT JOIN (select gid,image from tb_image where is_default_image=1 ) c on b.gid=c.gid) d 
   <!--     where a.gid = d.gid and a.uid = #{uid} and a.gdate = #{gdate} group by a.gdate  -->
       <where>
       			<if test="1==1">and a.gid = d.gid </if>
      			<if test="uid != null ">and a.uid = #{uid}</if> 
      			<if test="gdate != null ">and a.gdate = #{gdate}</if>
       </where>
     order by a.gdate desc,d.gid
    </select>
    
    <insert id="insertFoot"   parameterType="Foot">
    	insert into tb_foot(uid,gid,gdate) values
    	(#{uid,jdbcType=INTEGER},#{gid,jdbcType=INTEGER}, curdate())
		
    </insert>
    
	 
    
    <delete id="deleteFoot"   parameterType="Foot" >
        delete from tb_foot where uid =#{uid} and gid=#{gid}    
    </delete>
    
    
    
 </mapper>