<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.mapper.JayceMapper">
	
	 
    <resultMap type="Commodity" id="CommodityResult">
	  	<result property="gid"    column="gid"    />
        <result property="gname"    column="gname"    />
        <result property="price"    column="price"    />
        <result property="stock"    column="stock"    />
        <result property="mouthlySales"    column="mouthlySales"    />
        <result property="totalSales"    column="totalSales"    />
        <result property="evaluationNum"    column="evaluationNum"    />
    </resultMap>
	
	
    

    <select id="HotSell" parameterType="int" resultMap="CommodityResult" >
	  select gid,gname,price,stock,mouthlySales,totalSales,evaluationNum
	   from tb_commodity order by totalsales desc limit 0,#{num}
	</select>
	
	<!-- 查询所有的商品  -->
	<select id="SelectAllCom"  resultMap="CommodityResult" >
	  select gid,gname,price,stock,mouthlySales,totalSales,evaluationNum
	   from tb_commodity 
	</select>
	
	<!--  通过名字搜索 -->
    <select id="SearchByName" parameterType="java.lang.String" resultMap="CommodityResult" >
	  select gid,gname,price,stock,mouthlySales,totalSales,evaluationNum
	   from tb_commodity   where gname like concat(concat("%",#{gname}),"%") order by mouthlysales desc
	</select>
	
	
	<!--  查找最近浏览最多的俩个标签 -->
	<select id="SearchILike" parameterType="int" resultType="int" >
	 select tid from 
	 (select tid,count(*),uid from tb_foot f left
	  outer join tb_tag t on t.gid=f.gid and uid=#{uid} and 
	  level=3 group by tid order by count(*) desc limit 0,2) t
	</select>
	
	<select id="SearchSameCom" parameterType="int" resultMap="CommodityResult" >
	 select gid,gname,price,stock,mouthlySales,totalSales,evaluationNum from tb_commodity 
	 where gid in(select gid from tb_tag where tid=#{tid} ) limit 0,3
	</select>
	
	
	<select id="SearchWen" parameterType="int" resultType="Wen" >
	 	select uid,gid,wen from tb_wen where wen=#{uid}
	</select>
	<!-- 找到指定的wen -->
	<select id="SearchWenByWen" parameterType="Wen" resultType="Wen" >
	 	select uid,gid,wen from tb_wen where wen=#{uid} and gid=#{gid}
	</select>
	
	<!--添加Wen  -->
	<insert id="insertWen" parameterType="Wen">
		insert into tb_wen(uid,gid,wen) values(#{uid},#{gid},#{wen})
	</insert>
	
	
	<update id="updateWen" parameterType="Wen">
    update tb_wen
    set 
      wen = #{wen}
    where uid = #{uid} and gid = #{gid}
  </update>

</mapper>