<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanqiao.mapper.TbAddressMapper">
  <resultMap id="BaseResultMap" type="com.lanqiao.pojo.TbAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="is_default_addr" jdbcType="CHAR" property="isDefaultAddr" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanqiao.pojo.Addr">
    insert into tb_address (id, uid, address, 
      is_default_addr, receiver, tel
      )
    values (null, #{uid,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{isDefaultAddr,jdbcType=CHAR}, #{receiver,jdbcType=VARCHAR}, #{tel}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lanqiao.pojo.Addr">
    update tb_address
    set uid = #{uid,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      is_default_addr = #{isDefaultAddr,jdbcType=CHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <update id="update" parameterType="java.lang.Integer">
    update tb_address
    set    is_default_addr ="0"
    where uid = #{uid,jdbcType=INTEGER}
  </update>
   <update id="update1" parameterType="com.lanqiao.pojo.TbAddress">
    update tb_address
    set    is_default_addr ="1"
    where uid = #{uid,jdbcType=INTEGER}
    and id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, uid, address, is_default_addr, receiver, tel
    from tb_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, uid, address, is_default_addr, receiver, tel
    from tb_address where uid=#{uid}
  </select>
</mapper>