<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.lanqiao.domain.Address" alias="Address" />
		<typeAlias type="com.lanqiao.domain.Commodity" alias="Commodity" />
		<typeAlias type="com.lanqiao.domain.User" alias="User" />
		<typeAlias type="com.lanqiao.domain.ShoppingCart" alias="ShoppingCart" />
		<typeAlias type="com.lanqiao.domain.ShoppingCart" alias="ShoppingCart" />
		<typeAlias type="com.lanqiao.domain.Collection" alias="CollectionA" />
		<typeAlias type="com.lanqiao.domain.Foot" alias="Foot" />
		<typeAlias type="com.lanqiao.domain.Wen" alias="Wen" />
	</typeAliases>
	<plugins>
	  <plugin interceptor="com.github.pagehelper.PageHelper">
	      <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
	        <property name="dialect" value="mysql"/>
	    </plugin>
	</plugins>
</configuration>
